{% extends "commerce/layout.html" %}
{% load static %}

{% block body %}
{% if message %}
<section id="login-form-error-message" class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger alert-dismissible">
          <button class="close" type="button" data-dismiss="alert">
              <span>&times;</span>
          </button>
          <strong>Error</strong> {{ message }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section id="login-form-section">
  <div class="container">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
          <input autofocus class="form-control" type="text" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Password" required>
      </div>
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</section>
{% endblock %}